@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root */
:root {
  --playing: #00ff88;
  --finished: #4da6ff;
  --wishlist: #ffd54d;
  --bg: #0c0c0c;
  --panel: #1a1a1a;
  --light: #2a2a2a;
  --dark: #000000;
  --text: #e0e0e0;
  --text2: #FFD700;
  --border-light: #3a3a3a;
  --border-dark: #000000;
  --accent: #00ffcc;
}

/*  */
body {
  background: repeating-linear-gradient(
    0deg,
    rgba(0,255,204,0.1),
    rgba(0,255,204,0.1) 1px,
    transparent 1px,
    transparent 3px
  );

  background-size: 100% 16px;

  animation: scanlineMove 1s linear infinite;

  background-color: var(--bg);
  color: var(--text2);
  font-family: "Tahoma", "Courier New", monospace;
  font-size: 14px;
}

@keyframes scanlineMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 6px;
  }
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Layout */
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
}

/* Barra lateral */
.sidebar {
  margin-top: 10px;
  margin-left: 10px;
  width: 220px;
  background: var(--panel);
  padding: 10px;

  border-top: 2px solid var(--border-light);
  border-left: 2px solid var(--border-light);
  border-bottom: 2px solid var(--border-dark);
  border-right: 2px solid var(--border-dark);
}

.sidebar-marquee {
  margin-top: 10px;
  width: 100%;
  overflow: hidden;

  border-top: 2px solid var(--border-dark);
  padding-top: 6px;
}

.sidebar-track {
  display: flex;
  gap: 10px;

  width: max-content;

  animation: scrollSidebar 10s linear infinite;
}

.sidebar-track a {
  display: flex;
  align-items: center;
  gap: 6px;
  
  padding: 2px 6px;

  color: #00ffcc;
  text-decoration: none;
  font-size: 12px;

  border-top: 2px solid var(--border-light);
  border-left: 2px solid var(--border-light);
  border-bottom: 2px solid var(--border-dark);
  border-right: 2px solid var(--border-dark);

  white-space: nowrap;
}

@keyframes scrollSidebar {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.sidebar-track img {
  width: 14px;
  height: 14px;

  image-rendering: pixelated;
}

.sidebar li::before {
  content: "> ";
  color: var(--accent);
}

/* Lista da barra lateral */
.sidebar ul {
  list-style: none;
  margin-top: 10px;
}

/* Itens da lista na barra lateral */
.sidebar li {
  padding: 6px;
  margin-bottom: 6px;
  cursor: pointer;

  border-top: 2px solid var(--border-light);
  border-left: 2px solid var(--border-light);
  border-bottom: 2px solid var(--border-dark);
  border-right: 2px solid var(--border-dark);
}

.sidebar li:active {
  border-top: 2px solid var(--border-dark);
  border-left: 2px solid var(--border-dark);
  border-bottom: 2px solid var(--border-light);
  border-right: 2px solid var(--border-light);
}

.sidebar-gif {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.sidebar-gif img {
  width: 100%;
  

  border-top: 2px solid var(--border-light);
  border-left: 2px solid var(--border-light);
  border-bottom: 2px solid var(--border-dark);
  border-right: 2px solid var(--border-dark);
}

.sidebar-gif::after {
  content: "";
  position: absolute;
  inset: 0;

  background: repeating-linear-gradient(
    0deg,
    rgba(255,255,255,0.05),
    rgba(255,255,255,0.05) 1px,
    transparent 1px,
    transparent 3px
  );

  pointer-events: none;
}

/* Content */
.content {
  flex: 1;
  padding: 10px;
}

/* Header */
.header {
  margin-bottom: 10px;
  padding: 6px 10px;
  background: var(--light);

  border-top: 2px solid var(--border-light);
  border-left: 2px solid var(--border-light);
  border-bottom: 2px solid var(--border-dark);
  border-right: 2px solid var(--border-dark);
}

.header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", monospace; 
  font-size: 16px;
}

/* Lista de jogos */
.game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Game card */
.game-card {
  position: relative;
  width: 200px;
  padding: 10px;
  background: var(--panel);

  border-top: 2px solid var(--border-light);
  border-left: 2px solid var(--border-light);
  border-bottom: 2px solid var(--border-dark);
  border-right: 2px solid var(--border-dark);
}

.status {
  font-weight: bold;
}

/* Jogando */
.status.jogando {
  color: var(--playing);
}

/* Finalizado */
.status.finalizado {
  color: var(--finished);
}

/* Quero jogar */
.status.quero-jogar {
  color: var(--wishlist);
}

.flag-container {
  position: absolute;
  top: -10px;
  right: -10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.flag {
  width: auto;
  height: 26px;
}

.country-label {
  margin-top: -2px;
  writing-mode: vertical-rl;
  text-orientation: upright;

  font-size: 10px;

  color: #00ffcc;

  text-shadow:
    0 0 2px #ff01e1,
    0 0 4px #ff01e1,
    1px 0 red,
    -1px 0 blue;

  opacity: 0.8;
}

.game-card h3 {
  font-size: 14px;
  margin-bottom: 6px;
}

.game-card p {
  font-size: 12px;
  margin-bottom: 4px;
  color: var(--accent);
}

.game-image {
  position: relative;
  width: 100%;
  height: 120px;
  object-fit: cover;


  margin-bottom: 8px;

  border-top: 2px solid var(--border-light);
  border-left: 2px solid var(--border-light);
  border-bottom: 2px solid var(--border-dark);
  border-right: 2px solid var(--border-dark);
}

/* Botão */
.win-button {
  padding: 4px 10px;
  background: var(--light);
  color: var(--text);
  cursor: pointer;

  border-top: 2px solid var(--border-light);
  border-left: 2px solid var(--border-light);
  border-bottom: 2px solid var(--border-dark);
  border-right: 2px solid var(--border-dark);
}

.win-button:active {
  border-top: 2px solid var(--border-dark);
  border-left: 2px solid var(--border-dark);
  border-bottom: 2px solid var(--border-light);
  border-right: 2px solid var(--border-light);
}

/* BADGE (status) */
.badge {
  display: inline-block;
  margin-top: 6px;
  padding: 2px 6px;
  font-size: 11px;
  background: var(--light);

  border-top: 2px solid var(--border-light);
  border-left: 2px solid var(--border-light);
  border-bottom: 2px solid var(--border-dark);
  border-right: 2px solid var(--border-dark);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--panel);
}

::-webkit-scrollbar-thumb {
  background: var(--light);

  border-top: 2px solid var(--border-light);
  border-left: 2px solid var(--border-light);
  border-bottom: 2px solid var(--border-dark);
  border-right: 2px solid var(--border-dark);
}